*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
vgg19_model/weights/ filter=lfs diff=lfs merge=lfs -text
Vgg16+SVM/ filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
data/ filter=lfs diff=lfs merge=lfs -text
/streamlit/src/data/model/Vgg16+SVM/weights/model_Transfer_Learning_segment5/variables filter=lfs diff=lfs merge=lfs -text
