*data/**/*.jpg
*.ipynb_checkpoints
*.db
*.pyc
*.tif*
*.xyc
*.zip
*deconv.csv
*data/PBS_dataset*
*data/main_dataset*
*.save
*.swp
*.virtual_documents*
*model_save*
*.txt
*.json
*history*
*.~lock*
notebooks/model/ViT/results*
notebooks/model/vgg19/vgg19*
streamlit/src/data/model*
