*data/**/*.jpg
*.ipynb_checkpoints
*.db
*.pyc
*.tif*
*.xyc
*.zip
*deconv.csv
*data/PBS_dataset*
*data/main_dataset*
*.save
*.swp
*.virtual_documents*
*model_save*
*.txt
*.json
*.pb
*.index
*history*
*variables.data*
*.~lock*
notebooks/model/ViT/results*
