boto3
datashader
distributed
enum-compat
hvplot
jupyter
jupyterlab
numexpr
olefile
pip-chill
plotly
scikit-image
scikit-optimize
seaborn
streamlit
tensorboardx
tensorflow
tensorflow-addons
tune-sklearn
umap-learn
vit-keras
